*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.main_container{
    display: grid;
    /* grid-template-columns:repeat(auto-fit,minmax(3rem,1fr)); */
    grid-template-columns: 1fr 5fr;
   

}

/* _____________________ Start of sidbar styles______________________ */

.sidebar{
    background-color: rgb(21, 140, 243);
    color: white;
    display: flex;
    flex-direction: column;
    align-items:flex-start; 
    gap:20px;
    height: 100vh;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: center;
   
    

}
.sidebar-part{
    width: 100%;
}
.center-element{
    display: flex;
    align-items: center;
    justify-items: center;

}
.logo{
    font-size: 1.5rem;
    cursor:pointer;
   
  
}
.sidebar-item{
    width: 100%;
    padding: 0.5rem;
   
    
}
.sidebar-link{
    width: 100%;
}
.sidebar-item:hover{
    border-bottom: 2px solid white;
    cursor: pointer;
}

.material-symbols-outlined{
  
    height: 2rem;
    margin-right: 10px; 
 
  
}
/* _____________________ End of sidebar styles______________________ */

/* _____________________ Start of Header styles______________________ */
.header{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 2fr;
    gap: 1rem;
    min-height: 20vh;
    padding: 1rem;
}
.search{
    grid-column: 1/3;

} 
.ss{
    width: 60%;
    padding: 5px 0;
    border: none;
    background-color: #E7E9EB;
    border-radius: 10px;
   
}

.profile{
    display: flex;
    align-items: center;
    width: auto;
    grid-column:3;
    justify-self: start;
    gap: 1rem;
   
}
.profile_img_container{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.action_buttons{
    grid-column: 2/4;
    justify-self: center;
}

.header_btn{
  
    padding: 0.5rem 1rem;
    background-color:  rgb(21, 140, 243);
    border-radius: 15px;
    border: none;
    color: white;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;

    
}
.header_btn:hover{
    background-color: white;
    color: rgb(21, 140, 243);
    font-weight: bolder;
    border: 1px solid rgb(21, 140, 243);
}

.welcome_container{
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: repeat(2,1fr);
}
.welcom_msg{
    grid-column: 2/3;
    font-weight: bold;
    font-style: italic;
    align-self: end;
    margin-bottom: 5px;
    margin-left: 5px;
}
.welcome_container > .profile_img_container{
    grid-row: 1/3;
    grid-column: 1;

}
.welcome_container>.profile_name{
    grid-column: 2;
    margin-top: 5px;
    font-weight: bold;
}

/* _____________________ End of Header styles______________________ */


/* _____________________ Start of content styles______________________ */

.content{
    background-color:#E7E9EB; 
    height: 100vh;
}
