*{
    padding:0;
    margin:0;
    box-sizing: border-box;
  
}
.main_container{
    display: grid;
    /* grid-template-columns:repeat(auto-fit,minmax(3rem,1fr)); */
    grid-template-columns: 1fr 5fr;
   

}

/* _____________________ Start of sidbar styles______________________ */

.sidebar{
    background-color: rgb(21, 140, 243);
    color: white;
    display: flex;
    flex-direction: column;
    align-items:flex-start; 
    gap:20px;
    height: auto;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: center;
   
    

}
.sidebar-part{
    width: 100%;
}
.center-element{
    display: flex;
    align-items: center;
    justify-items: center;

}
.logo{
    font-size: 1.5rem;
    cursor:pointer;
   
  
}
.sidebar-item{
    width: 100%;
    padding: 0.5rem;
   
    
}
.sidebar-link{
    width: 100%;
}
.sidebar-item:hover{
    border-bottom: 2px solid white;
    cursor: pointer;
}

.material-symbols-outlined{
  
    height: 2rem;
    margin-right: 10px; 
 
  
}
/* _____________________ End of sidebar styles______________________ */

/* _____________________ Start of Header styles______________________ */
.header{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,2fr));
    gap: 1rem;
    min-height: 20vh;
    padding: 1rem;
}
 
.ss{
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color: #E7E9EB;
    border-radius: 10px;
   
}
.search{
    width: 400px;
}

.profile{
    display: flex;
    align-items: center;
    width: auto;
    gap: 1rem;
    justify-content: center;
   
}
.profile_img_container{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    grid-row: 2;
}

.action_buttons{
    justify-content: end;
    justify-self: center;
    width:275px

}

.header_btn{
  
    padding: 0.7rem 1.2rem;
    background-color:  rgb(21, 140, 243);
    border-radius: 15px;
    border: none;
    color: white;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;

    
}
.header_btn:hover{
    background-color: white;
    color: rgb(21, 140, 243);
    font-weight: bolder;
    border: 1px solid rgb(21, 140, 243);
}

.welcome_container{
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: repeat(2,1fr);
}
.welcom_msg{
    grid-column: 2/3;
    font-weight: bold;
    font-style: italic;
    align-self: end;
    margin-bottom: 5px;
    margin-left: 5px;
}
.welcome_container > .profile_img_container{
    grid-row: 1/3;
    grid-column: 1;

}
.welcome_container>.profile_name{
    grid-column: 2;
    margin-top: 5px;
    font-weight: bold;
   
}

/* _____________________ End of Header styles______________________ */


/* _____________________ Start of content styles______________________ */

.content{
    background-color:#E7E9EB; 
    height:auto;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 10px;
  
}
.projects_main_container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-row: 1/3;
    
   
}
.project_container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    border-left: 5px solid rgb(224, 178, 26);
    margin: 0.5rem;
    gap: 0.5rem;
}
.project-actions{
    
    align-self: flex-end;
    justify-self: end;
    color: #5e5c5c;
    
}
.project-actions span{
    cursor: pointer;
}
.heading{
    
    font-weight: bold;
}
.project_container .description{
    min-height: 80px;
}
.description{
    color:#5e5c5c
}
.annuncement_main_container,.trending_main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    gap: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 10px;
    margin-bottom: 25px;
    

}
.annuncement_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid black;
    padding: 1rem;
    gap: .5rem;
   
}


.trending_container{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0.2rem;
    justify-content: start;
    gap: 10px;

}
.picture{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(224, 178, 26);
    display: flex;
    justify-content: center;
    align-items: center;

}

.picture span{
    margin-right: 0;
    font-size: 30px;
}

.trending_container .heading,.trending_container .description{
    grid-column: 2;
}


